body {
    background-color: #000000;
    color: #ffffff;
}

#wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
    text-align: center;
}

.gap {
    gap: 24px;
}

.gap-12 {
    gap: 12px !important;
}

p {
    font-size: 1.2em;
}

.column {
    flex-direction: column;
}

.icon {
    width: 120px;
    height: 120px;
}

h1 {
    font-size: 4.5em;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 1;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.center {
    text-align: center;
}

.image {
    position: relative;
    width: 60%;
    height: auto;
}

.screen {
    width: 100%;
    height: auto;
}

.lottie {
    position: absolute;
    width: 40%;
    height: 35%;
    aspect-ratio: 1 / 1;
    top: 37.5%;
    left: 9%;
    background-color: #474957;
}

#lottie-2 {
    left: 51%;
}

.button {
    outline: none;
    padding: 12px 64px;
    border-radius: 9999px;
    border: none;
    font-weight: 600;
    font-size: 1.1em;
    font-family: "Poppins", serif;
    color: #ffffff;
    text-shadow: 1px 1px 0 #00000044;
    text-decoration: none;
    background: linear-gradient(-90deg, #D1B9FF 14.46%, #DB31A0 81.87%);
    box-shadow: 0px 0px 32px 0px #CE2F99dd;
    transition: all 300ms linear 0s;
}

.icon-tabler {
    color: #ffffff;
    transform: translateY(4px);
    margin-right: 4px;
}

.button.secondary {
    background: transparent;
    /* color: transparent;
    background-clip: text;
    -webkit-background-clip: text; */
}
.button.secondary .icon-tabler path{
    fill: linear-gradient(-90deg, #D1B9FF 14.46%, #DB31A0 81.87%);
}

.button:hover {
    filter: brightness(120%);
    text-shadow: 1px 1px 32px #ffffff;
    box-shadow: 0px 0px 32px 0px #ff5fca;
    color: #ffffff;
}

h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 5em;
}

ul,
ol {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

ol {
    max-width: 800px;
}

ul li,
ol li {
    list-style-type: none;
    min-width: 9em;
    width: calc(20% - 24px);
    aspect-ratio: 4 / 3;
    background-color: inherit;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px;
}

ul li {
    border: 1.5px solid #ffffff66;
}

ol li {
    width: calc(33% - 24px);
    list-style-type: unset;
    list-style-position: inside;
    margin-top: 2em;
}

ol li::marker {
    font-size: 5em;
    width: 2em;
    overflow: hidden;
    color: #DB31A0;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 0.3em;
}

ol li::before {
    content: '\A';
    white-space: pre;
}

ul li img {
    width: 5em;
    height: 5em;
}

footer {
    margin: 4em 0;
    color: #ffffff99;
}

footer a {
    color: #8772af;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 15vw;
    }

    .image {
        width: 100%;
    }

    .gap {
        margin-top: 2em;
        flex-direction: column !important;
        gap: 0;
    }

    #wrapper {
        height: fit-content;
        padding-bottom: 2em;
    }

    h2 {
        margin-top: 2em;
    }

    ul {
        justify-content: flex-start;
        margin: 0 auto;
        width: calc(100% - 63px);
    }

    ul li,
    ol li {
        width: calc(50% - 24px);
    }

    ol li {
        width: calc(50% - 24px);
    }

    footer {
        margin-bottom: 1em;
    }
}