body {
    background-color: #000000;
    color: #ffffff;
}

#wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
    text-align: center;
}

p {
    font-size: 1.2em;
}

.column {
    flex-direction: column;
}

.icon {
    width: 120px;
    height: 120px;
}

h1 {
    font-weight: 400;
    font-size: 6em;
    padding: 0;
    margin: 0;
    line-height: 1;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.screen {
    width: 60%;
    height: auto;
}